body {
    background-color: bisque;
}


h1 {
    text-align: center;
}


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.box {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    background-color: rgb(250, 134, 134);
}

.green {
    background-color: rgb(23, 148, 23);
}

.yellow {
    background-color: rgb(211, 211, 35);
}

.blue {
    background-color: rgb(24, 24, 170);
}